body{
  text-align:center;
  font-family:Arial;
  padding:0px 125px;
    background-image:url("http://getdrawings.com/vectors/triangle-vector-free-18.jpg");
}
img{
  width:250px;
  height:250px;
}
#db{
  width:400px;
  height:400px;
}
table{
  margin:auto;
}
h2{
  color:#0099ff;
}
#pics{
  border-style:inset;
  border-color:#34abeb;
}
.info{
  display:;
  width:250px;
  height:250px;
}
#school{
  animation:colorchange 1.5s infinite;
}
@keyframes colorchange{
  from{color:black;}
  to{color:red;
  }
}

#strech{
  width:700px;
  height:200px;
}
#bouncein{
  animation:bouncein 2s infinite;
}
@keyframes bouncein{
 0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
}
}

.box{
  opacity:0;
}
.box:hover{
  opacity:1;
  transition:0.5s;
}
#background{
  background-color:white;
}
